@import '../scss/resets';
@import '../scss/variables';
@import '../scss/mobile';

@media screen and (max-width: 1440px) {
    body {
        background: $white;
      }
      
      .grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 60vh 20vh;
        grid-gap: 10px;
        
        grid-template-areas: "header   header   header"
                             "main     main     sidebar"
                             "footer   footer   footer";
      }
      
      /* items */
      
      .grid div {
        color: white;
        font-size: 20px;
        padding: 20px;
        }
      
      /* specific item styles */
      
      .item-1 {
        background: #4B2840;
        grid-area: header;
      }
      .item-2 {
        background: #C799A6;
        grid-area: main;
        
        display: grid;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 20px;
        
        grid-template-areas: "header header"
                             "sidebar sidebar";
        
      }
      .item-3 {
        background: #30997a;
        grid-area: sidebar;
      }
      .item-4 {
        background: #EEABC4;
        grid-area: footer;
      }
      .item-5 {
        background: #E15A97;
        grid-area: header;
      }
      .item-6 {
        background: #861388;
        grid-area: sidebar;
      }
      .item-7 {
        background: #E15A97;
        grid-area: header;
      }
      .item-8 {
        background: #861388;
        grid-area: sidebar;
      }
    }